{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Action</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in history %}
            <tr>
                <th scope="row">{{ row.symbol }}</th>
                <td>{{ row.shares }}</td>
                <td>{{ row.action }}</td>
                <td>{{ row.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
